<%-contentFor('title')%>
main
<%-contentFor('header')%>

<%-contentFor('content')%>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Main</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Main</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<%-contentFor('script')%>
